<a href="https://colab.research.google.com/github/AliAkbarBadri/graph-centrality/blob/main/correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [1]:
import networkx as nx
import glob
import pandas as pd
import time
import numpy as np
import json
import matplotlib as plt
from multiprocessing import Pool

# Get Results

In [15]:
! curl -L https://api.github.com/repos/AliAkbarBadri/graph-centrality/tarball --output repo.tar
! tar xf repo.tar --wildcards "*/results/*.json" --strip-components=1
! rm -rf repo.tar

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  454k    0  454k    0     0   865k      0 --:--:-- --:--:-- --:--:-- 1433k

In [8]:
for file_name in sorted(glob.glob('results/*centrality.json')):
  print(file_name.split("/")[1].split(".json")[0])

betweenness_centrality
degree_centrality
eigenvector_centrality
graph_centrality
tree_centrality

# Convert to CSV

In [41]:
graph_names = [
               "bn-mouse_visual-cortex_1",
               "ca-sandi_auths",
               "reptilia-tortoise-network-lm",
               "road-chesapeake",
               "rt-retweet"  
]
# key:graph_name, value:list of dataframes of centralities
df_dict = {}
for graph_name in graph_names:
  df_dict[graph_name] = []

for file_name in sorted(glob.glob('results/*centrality.json')):
  centrality_name = file_name.split("/")[1].replace("_centrality.json","")
  json_file = open(file_name)
  json_str = json_file.read()
  json_data = json.loads(json_str)
  for key,value in json_data.items():
    df_dict[key].append(pd.DataFrame(list(value.items()),columns = ['node',centrality_name]).set_index('node'))

In [42]:
df_dict['ca-sandi_auths'][0]

      betweenness
node
35       0.001821
1        0.000000
37       0.000000
18       0.000000
2        0.000000
...           ...
47       0.000000
50       0.000000
63       0.000000
78       0.000000
70       0.000000

[86 rows x 1 columns]

In [44]:
for key,value in df_dict.items():
  df_dict[key] = pd.concat(value, axis=1)

In [45]:
df_dict['ca-sandi_auths']

      betweenness    degree   eigenvector  graph  tree
node
35       0.001821  0.047059  7.241234e-05      2     2
1        0.000000  0.023529  9.111889e-03      1     1
37       0.000000  0.023529  3.472574e-17      6     6
18       0.000000  0.047059  2.520618e-09      2     2
2        0.000000  0.070588  9.997067e-01      1     1
...           ...       ...           ...    ...   ...
47       0.000000  0.011765  1.984704e-11      1     1
50       0.000000  0.011765  2.628738e-14      1     1
63       0.000000  0.011765  2.628738e-14      1     1
78       0.000000  0.011765  3.472574e-17      7     7
70       0.000000  0.011765  2.628738e-14      1     1

[86 rows x 5 columns]

# Correlation between all subgraph and tree centrality

In [ ]:
line = nx.path_graph(4)
print(line.edges())

# result must be equal to 4
print(count_subgraph(line,0))
print(count_tree(line, 0))

In [ ]:
star = nx.star_graph(4)
print(star.edges())
# result must be equal to 16
print(count_subgraph(star,0))
print(count_tree(star, 0))